[submodule "C#_Example"]
	path = "C#_Example"
	url = "./C#_Example"
[submodule "C_Example"]
	path = C_Example
	url = ./C_Example
[submodule "Cpp_Example"]
	path = Cpp_Example
	url = ./Cpp_Example
[submodule "Python_Example"]
	path = Python_Example
	url = ./Python_Example
